@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    src: local('Calibri'), url('https://fonts.cdnfonts.com/s/78322/calibri.woff') format('woff');
}
@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: 400;
    src: local('Calibri'), url('https://fonts.cdnfonts.com/s/78322/calibrii.woff') format('woff');
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 300;
    src: local('Calibri'), url('https://fonts.cdnfonts.com/s/78322/calibril.woff') format('woff');
}
@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: 300;
    src: local('Calibri'), url('https://fonts.cdnfonts.com/s/78322/calibrili.woff') format('woff');
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    src: local('Calibri'), url('https://fonts.cdnfonts.com/s/78322/calibrib.woff') format('woff');
}
@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: 700;
    src: local('Calibri'), url('https://fonts.cdnfonts.com/s/78322/calibriz.woff') format('woff');
}

