@font-face {
  font-family: 'Calibri';
  src: url('https://fonts.gstatic.com/s/calibri/v7/2AHi4JY5Qg.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Helvetica';
  src: url('https://fonts.gstatic.com/s/helvetica/v6/1Ptpg8zYS_SKggPN4iCzXzTbgVql8nDJlA.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Arial';
  src: url('https://fonts.gstatic.com/s/arial/v14/Yjy6tWZPv-Yi6p_D3IQ.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Arial Black';
  src: url('https://fonts.gstatic.com/s/arialblack/v11/tSSVgptLXD4renSzaKsnyiS6FQacP9s.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Verdana';
  src: url('https://fonts.gstatic.com/s/verdana/v15/1Ptpg8zYS_SKggPNwN4rWqZPBQ.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Tahoma';
  src: url('https://fonts.gstatic.com/s/tahoma/v14/XNV7hL1CgwZOM_GwE_yr.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('https://fonts.gstatic.com/s/trebuchet/v13/66lQoi3yKgVTzbfR_w.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Impact';
  src: url('https://fonts.gstatic.com/s/impact/v14/1cXGgUfOUGrC_34xREyH6g.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('https://fonts.gstatic.com/s/gillsans/v15/Z9XuK1mEGJ1jQWl6ziDRbg.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Times New Roman';
  src: url('https://fonts.gstatic.com/s/timesnewroman/v14/6xKtdSINQeAUvQ4et7_Y4Q.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Georgia';
  src: url('https://fonts.gstatic.com/s/georgia/v15/SLXGc1na-mM4cWImRJqExQ.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Palatino';
  src: url('https://fonts.gstatic.com/s/palatino/v14/9oRPNYsQIWjyL6hWV7JHXw.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Baskerville';
  src: url('https://fonts.gstatic.com/s/baskerville/v13/0lViMJSpi8CjKoMzth0e.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Andale Mono';
  src: url('https://fonts.gstatic.com/s/andalemono/v12/uYECMKoHcO9xZDgQrZAQ3Q.ttf') format('truetype'),
       monospace;
}

@font-face {
  font-family: 'Courier';
  src: url('https://fonts.gstatic.com/s/courier/v15/O7auwT_A.ttf') format('truetype'),
       sans-serif;
}

@font-face {
  font-family: 'Lucida Console';
  src: url('https://fonts.gstatic.com/s/lucidaconsole/v16/XIIjCgV9IuhiCfrUC4E8kQ.ttf') format('truetype'),
       monospace;
}

@font-face {
  font-family: 'Monaco';
  src: url('https://fonts.gstatic.com/s/monaco/v15/NGSRvEybkx6gtX9Xxzw.ttf') format('truetype'),
       monospace;
}

@font-face {
  font-family: 'Bradley Hand';
  src: url('https://fonts.gstatic.com/s/bradleyhand/v13/J7aHnp1uDWRBEqVv73eD.ttf') format('truetype'),
       cursive;
}

@font-face {
  font-family: 'Brush Script MT';
  src: url('https://fonts.gstatic.com/s/brushscriptmt/v12/2EbiL-1KjNm45Q5lY-12wt6tnxk.ttf') format('truetype'),
       cursive;
}

@font-face {
  font-family: 'Luminari';
  src: url('https://fonts.gstatic.com/s/luminari/v8/1OVfscp5_zrqjbXmGqaDgbI.ttf') format('truetype'),
       fantasy;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://fonts.gstatic.com/s/comicsans/v14/UI1D8t4pUeZjgOvI9w9ooI.ttf') format('truetype'),
       cursive;
}
